.intro__list {
  max-width: 690px;
  list-style-type: none;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  padding: 0 0 92px 0;
}

@media screen and (max-width: 1023px) {
  .intro__list {
    padding: 0 0 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .intro__list {
    min-width: 288px;
    padding: 0 0 64px 0;
  }
}
