.lead__image {
  width: 100%;
  object-fit: cover;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    font-size: 96px;
    line-height: 104%;
    margin: 0;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    font-size: 96px;
    line-height: 104%;
    min-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .lead__image {
    max-width: 288px;
    font-size: 40px;
    line-height: 110%;
  }
}

