.cover {
  max-width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  min-height: 740px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 0 auto;
  position: relative;
}
