.lead__container {
  max-width: 984px;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .lead__container {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .lead__container {
    width: 100%;
  }
}
